<div class="product-card">
  <a href="{{ product.url }}" class="block w-full h-full" aria-label="View {{ product.title | escape }}">
    <div class="product-image-container aspect-square rounded-[10px] overflow-hidden w-full max-w-[355px] h-full max-h-[355px] relative{% if product.images[1] != blank %} has-second-image{% endif %}">
      {% comment %} {%  render 'product-badges', product: product %} {% endcomment %}
      <div class="primary-image absolute inset-0 transition-opacity duration-300">
        {% render 'image',
          image: product.featured_image,
          width: 600,
          height: 600,
          class: 'w-full h-full object-cover',
          alt: product.featured_image.alt | default: product.title
        %}
      </div>
      {% if product.images[1] != blank %}
        <div class="hover-image absolute inset-0 opacity-0 transition-opacity duration-300">
          {% render 'image',
            image: product.images[1],
            width: 600,
            height: 600,
            class: 'w-full !h-full object-cover',
            alt: product.images[1].alt | default: product.title
          %}
        </div>
      {% endif %}
    </div>
  </a>
  <div class="grid gap-y-2 p-3">
    <a href="{{ product.url }}" class="hover:no-underline">
      <span class="font-bebas text-lg">{{ product.title }}</span>
    </a>
    {% render 'product-card-reviews' %}
    <p aria-label="Price: {{ product.price | money }}" class="font-poppins font-medium text-base text-[#1C1D1D]">{{ product.price | money }}</p>
  </div>
</div>