{{ 'platter-section.css' | asset_url | stylesheet_tag }}
{{ 'platter-section.js' | asset_url | script_tag }}

{% liquid
  assign collection_handle = section.settings.collection
  assign title = collections[collection_handle].title | default: section.settings.heading
%}

<script>
  console.log('Section loaded');
  console.log('title: {{ title | json }}');
  console.log('collection: {{ collection_handle | json }}');
</script>

<div class="full-width py-6 lg:py-10 pl-6 lg:pl-10">
  <div class="flex justify-center lg:justify-between items-center pr-6 lg:pr-10 mb-6 lg:mb-10">
    {% if title != blank %}
      <h2 class="font-source-serif font-black text-[#231F20] text-[1.75rem] lg:text-[2.5rem]">{{ title }}</h2>
    {% endif %}
    <div class="hidden lg:flex">
      <a href="/collections/{{ collection_handle }}" class="ml-auto text-sm font-poppins font-medium text-[#5C553A] inline-flex items-center gap-x-1">
        Shop All {{ title }} <img src="{{ 'arrow-narrow-right.svg' | asset_url }}" alt="" width="16" height="16" class="w-4 h-4">
      </a>
    </div>
  </div>

  <div class="swiper-section hidden lg:block">
    <div class="swiper">
      <div class="swiper-wrapper">
        {% for product in collections[collection_handle].products %}
          <div class="swiper-slide max-w-fit">
            {% render 'product-card', product: product %}
          </div>
        {% endfor %}
      </div>
      <div class="h-1.5 relative mr-6 lg:mr-10 mt-6 lg:mt-10">
        <div class="swiper-pagination bottom-0 [&>span]:bg-[#231F20]! hover:h-1.5! transition-[height] duration-300 ease-in-out"></div>
      </div>
    </div>
  </div>

  <div class="lg:hidden pr-6 lg:pr-10">
    <div class="grid grid-cols-2" data-display-first-four>
      {% for product in collections[collection_handle].products %}
        <div class="mobile-view-more">
          {%  render 'product-card', product: product %}
        </div>
      {% endfor %}
    </div>
    <button class="py-4 px-6 w-full bg-[#1c1d1d] text-white rounded-full cursor-pointer" data-view-all-button>
      Show More
    </button>
  </div>
</div>

{% schema %}
{
  "name": "Platter Challenge Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Featured Carousel"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Platter Challenge Section"
    }
  ]
}
{% endschema %}
